    <hr>
    <footer>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid error hic minus molestias nam neque nulla? Dolore, sapiente, ullam!</p>
    </footer>
    </body>
</html>