<nav class="menu">
    <div class="container">
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/movie-search">Search Movie</a>    
        <span id="connectionLink">
            <a href="/login">login</a>
        </span>
    </div>
</nav>