<% include ./partials/head %>

        <h1>Express Movies: le site des cinéphiles</h1>
        <div class="central">
            Etes vous plutot films ou séries ? Peux importe vous trouverez votre bonheurs ici.
        </div>

<% include ./partials/footer %>