	<% include ./partials/head %>

		<div class="central">
			<h1><%= title %></h1>
			<br>
			<div id="login">
				<form>
					<legend>Veuillez saisir vos identifiants</legend>
					<label for="email">email</label>
					<input type="text" name="email" id="email">
					<label for="password">mot de passe</label>
					<input type="password" name="password" id="password">
					<button type="submit">connexion</button>
				</form>
			</div>
		</div>

		<div id="profile" style="display: none;">
			<button id="disconnectBtn">Déconnexion</button>
			<button id="displayPayload">display payload</button>
			<div id="decodedPayload">

			</div>
			<div>
				<a href="#" id="member-only">espace membre</a>
			</div>
		</div>

		<script>
			///////////////////////////////
			//		variable			///
			//////////////////////////////
			var form = document.querySelector('form');
			var loginArea = document.querySelector('#login');
			var profileArea = document.querySelector('#profile');
			var displayPayloadBtn = document.querySelector('#displayPayload');

			var disconnectBtn = document.querySelector('#disconnectBtn');
			var connectionLinkArea = document.querySelector('#connectionLink');

			var memberOnlyLink = document.querySelector('#member-only');
			
			handleFormDisplay();

			///////////////////////////////
			//		FUNCTION			///
			//////////////////////////////
			function loginUser(event) {				
				loginUserWithXHR(event);
			}
			
			function switchToLoggedMode(){
				loginArea.style.display =  'none';
				profileArea.style.display = 'block';
				connectionLinkArea.innerHTML = '<a href="/login">deconnection</a>';
			}

			function switchToLoggedOutMode(){
				loginArea.style.display =  'block';
				profileArea.style.display = 'none';
				connectionLinkArea.innerHTML = '<a href="/login">connexion</a>';
			}

			function disconnect(){
				switchToLoggedOutMode();
				localStorage.removeItem('token');
			}

			function handleFormDisplay(){
				if (localStorage.getItem('token')){
					switchToLoggedMode();
				}else{
					switchToLoggedOutMode();
				}
			}

			function displayPayload(){
				var payload =  parseJwt();
				var decodedPayloadDiv = document.querySelector('#decodedPayload');
				decodedPayloadDiv.innerHTML = '<pre>' +  JSON.stringify(payload) +  '</pre>';
			}

			function parseJwt(){
				var tokenFromStorage = localStorage.getItem('token');
				if(tokenFromStorage){
					var base64Payload = tokenFromStorage.split('.')[1];
					return JSON.parse(window.atob(base64Payload));
				}
				else{
					return 'no token to parse';
				}
			}

			function makeRequestWithToken(event){
				event.preventDefault();
				var page =  this.id;
				var tokenFromStorage = localStorage.getItem('token');
				var config = {};


				if (tokenFromStorage){
					config.headers = {
						'Authorization' :  'Bearer ' + JSON.parse(tokenFromStorage)
					}
					console.log(config);
				}

				axios.get(
					'http://localhost:3000/' + page,
					config
				)
				.then(res =>{
					console.log("success");
					console.log(res);
				})
				.catch(error => {
					console.log('makeRequestWithToken err : ' + error);
				})

			}

			////////////////////////////
			///		Action 			///
			///////////////////////////
			form.addEventListener("submit", loginUser);	
			disconnectBtn.addEventListener('click', disconnect);
			displayPayloadBtn.addEventListener('click', displayPayload);
			memberOnlyLink.addEventListener('click', makeRequestWithToken);

			//////////////////
			///	 AJAX	  ///
			/////////////////
			function loginUserWithXHR(event) {		
				event.preventDefault();
				console.log('loginUserWithXHR');		

				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				var xhr = new XMLHttpRequest();
				xhr.open("POST", '/login', true);

				//Send the proper header information along with the request
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

				xhr.onreadystatechange = function() {
					//Call a function when the state changes.
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						var token = xhr.response;
						localStorage.setItem('token', token);
						switchToLoggedMode();

						form.reset();
					}
				}	
				var email = document.getElementById('email').value;
				var password = document.getElementById('password').value;
				var payLoad = "email=" + email + "&" + "password=" + password; 
				xhr.send(payLoad);
			}
		</script>
    <% include ./partials/footer %>
