<% include ./partials/head %>

    <h1>Express Movies: <%=  title %> </h1>
    <div class="container">
        <p>
            vous trouverez ici une séléction de film incroyable
        </p>

        <div class="movies">
            <% for(movie of movies) { %>
                <div>
                    <h3><%= movie.movietitle %> (<%=  movie.movieyear %>)</h3>
                </div>
            <% } %>
        </div>


        <div class="">
            <form action="/movies" method="post">
                <p>
                    <label for="movietitle">Titre du Film</label>
                    <input id="movietitle" type="text" name="movietitle">
                </p>
                <p>
                    <label for="movieyear">Année de sortie</label>
                    <input id="movieyear" type="text" name="movieyear">
                </p>
                <button type="submit">Ajouter</button>
            </form>
        </div>
    </div>

    <script>


        let checkStatus = (response) => {
            if(response.status >= 200 && response.status < 300){
                let newMovieDiv  = document.createElement('div');
                const movietitle = document.getElementById('movietitle').value;
                const movieyear  = document.getElementById('movieyear').value;


                if (movietitle !=  0 && movieyear != 0){
                    newMovieDiv.innerHTML = `<h3>${movietitle} (${movieyear})</h3>`;
                    document.querySelector('.movies').appendChild(newMovieDiv);
                    form.reset();
                }

            }
        }
        let addMovie = (event) => {
            // stop le rechargement
            event.preventDefault();

            if(fetch){
                fetch('/movies', {
                    method: 'POST',
                    body: new FormData(form)
                })
                    .then(checkStatus)
                    .catch((error) => {
                        console.error('request failed : ',  error);
                    });
            }
        }

        const form = document.querySelector('form');
        form.addEventListener("submit", addMovie);
    </script>

<% include ./partials/footer %>